<h1>Edit Player</h1>


<%= simple_form_for @player do |f| %>
  <%= f.input :name, label: "Name" %>
  <%= f.input :age, label: "Age" %>
  <%= f.input :team, label: "Sports Team" %>
  <%= f.button :submit, "Edit" %>
<% end %>


  </div>
